<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= comment.name %>: </strong>
          <%= comment.comment %>
        </p>
      </div>
    </div>
    <%= link_to 'Delete', [comment.post, comment], method: :delete, class: "button is-dark", data: { confirm: "Press ok to delete task" } %>
  </article>
</div>
